*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sports{
    max-width: 1300px;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
}
.sports-board{
    flex: 2;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    order: 2;
}
.sports-ads{
    flex: 1;
    background: wheat;
    height: 100vh;
    order: 1;
}