*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
.banner{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(main-img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
text-decoration:none;
color:#fff;
cursor:pointer;
}

/*-------services------*/
.services{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 40px;
   
   
}
.services h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.services p{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: center;
}

.service-col-1{
    flex-basis: 35%;
   
    background:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(main-img/nutrition.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 15px;
    border-radius: 12px;
    padding: 100px 20px;
    position: relative;
}
.service-col-1 h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.service-col-2{
    flex-basis: 35%;
    background:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(main-img/5.willie\ pep.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 15px;
    border-radius: 12px;
    padding: 100px 20px;
    position: relative;
}
.service-col-2 h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.service-col-3{
    flex-basis: 35%;
    background:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(main-img/gloves.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 15px;
    border-radius: 12px;
    padding: 100px 20px;
    position: relative;
}
.service-col-3 h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.layer{
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0%;
    left:0%;
    position: absolute;
    border-radius: 12px;
    transition: 1s;
   
}
.layer:hover{
    background:rgb(226,0,0,0.4);
}
.layer p{
    width: 100%;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 1s;

}
.layer:hover p{
    opacity: 1;
    top: 30%;
}


.btn{
display:inline-block;
background:#ff523b;
color:#fff;
margin:30px 0;
border-radius:30px;
padding:8px 30px;
transition:background 0.5s;
position:relative;
top:50%;
}
.btn:hover{
background:#563434;
}


/*----Trends----*/
#trends{
    width: 100%;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    padding-top: 20px;
    margin-bottom: 20px;
   
}
#trends-board{
    flex: 2;
    order: 2;
    height: 100vh;
    display: grid;
    grid-template-columns: 500px 500px ;
    grid-template-rows: 285px 285px ;
    align-items:right;
    
}
#g1{
    position: relative;
}
#g1 img{
    width: 100%;
    
}
#g2{
    position: relative;
}

#g2 img{
    width: 100%;
}
#g3{
    position: relative;
}
#g3 img{
   width: 100%;
}
#g4{
    position: relative;
}


#g4 img{
   width: 100%;
}
.grid-notes{
  
    color:ghostwhite;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.advert-2{
    flex: 1;
    order: 1;
    height: 100vh;
   
}
/*---------about-us-----*/

.about-us{
    background: url(main-img/gloves\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top:30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 40px;
}
.about-us h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom:20px;
      

}
#about-flex{
    display: flex;
    height: 700px;
}
#flex-1{
    background-color:transparent;
    border-radius: 8px;
    height: 500px;
    width: 500px;
}
#flex-2{
    background-color:transparent;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    align-self: flex-end;
}
#flex-3{
    background-color:transparent;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    align-self: center;
    color: red;
}
.flex-notes{
    color:black;
    font-size: 18px;
}
/*------feedback----*/
.footer{
    width: 1300px;
    padding-left:25px;
    padding-right:25px;
    height: 400px;
    text-align: center;
   
}
.row-2{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
}
.feedback-col{
    flex-basis:60%;
    color:black;
}
.footer-col-1, .footer-col-2{
flex-basis:20%;
}
.feedback-col h2{
    font-size: 40px;
    font-weight: 600;

}
.footer hr{
border:none;
height:1px;
margin:20px 0;
background:#b5b5b5;
}
.fa{
margin-right:5px;
color:red;
}
ul{
list-style:none;
}
/*----------ads-----------*/
.hor_ads{
    width: auto;
    text-align: center;
    height: auto;
    padding-top: 40px;
    margin: auto;
    margin-bottom: 40px;
}
/*----------prodcts-------*/
.products{
    width: 100%;
    margin: auto;
}
.row_ex{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    }
.col-4{
    flex-basis:20%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
    }
    .col-4 img{
    width:100%;
    }
    .title{
    text-align:center;
    margin:0 auto 80px;
    line-height:60px;
    color:#555;
    position:relative;
    
    }
    .title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:45%;
    
    }
    h4{
    color:#555;
    font-weight:normal;
    }
    .col-4 p{
    font-size:14px;}
    .col-4:hover{
    transform:translateY(-5px)
    }
    .row-prod{
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        justify-content:space-around;
        }















